@{
    Layout = "_Layout";
  } 
    @using Bakery.Models;

    <h1>Orders in @Model["vendor"].Name</h1>

    @if (@Model["orders"].Count == 0)
    {
      <h4>No available orders.</h4>
    } 

    <ul>
    @foreach (Order order in @Model["orders"])
    {
      <li>Items: @order.Items</li>
      <li>Cost: $@order.Cost</li>
      <li>Date: @order.Date</li>
    }
    </ul>

    <button class="btn btn-light">
      <a href='/vendors/@Model["vendor"].Id/orders/new'>Add Order</a>
    </button>
    <button class="btn btn-light">
      <a href='/vendors'>View Vendors</a>
    </button>
    <button class="btn btn-light">
      <a href='/'>Home</a>
    </button>
    